<div class="rightside col-md-3 col-sm-6 col-xs-12">
 <div >
        <b class="order">Замовлення</b>
        <span id="ovalOrderpizza" class="oval white">1</span>
        <span class="clean btn" > Очистити замовлення</span>
    </div>
    <span class="boughtPlace"><p>Немає нічого в холодильнику?</p><p>Купи піцу!</p></span>   

     <div id="cart"></div>
    <div class="buy btn btn-warning">Купити </div><span class="sum" >Загальна сума:<span> 1</span></span>
    


</div>